* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin-bottom: 0;
}
/* Helpers */
.row-center {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.row-gap {
  gap: 20px;
}
.row-gap-between {
  justify-content: space-between;
}
.col-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* App */
.box {
  margin-top: 50px;
  padding: 60px 20px;
  border: 2px solid #000;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  border: 1px solid black;
}
.event-description {
  border: 1px solid #000;
  padding: 10px 3px;
}
.event-img-part {
  border: 2px solid #000;
}
.event-image {
  height: 80px;
  width: 80px;
}
.image-container {
  border-radius: 50%;
  overflow: hidden;
}
